/* infinite.css */
/* Autor: Alejandro (farias@8loop.cl) */

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 5em;
  text-align: center;
}
h2, p {
  margin-bottom: 2.5em;
}
a, a:hover, a:visited, a:active {
  color: black;
}
img.little {
  width: 80px;
  height: 40px;
}
